body{
  background: black;
  width: 90%;
  margin-left: 5%;
  font-family: 'Dancing Script', cursive;
}
header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 0 2%;
  animation: Subir;
  animation-duration: 2s;
}
@-webkit-keyframes Subir{
  0%{
    margin-top: 150%;
  }
  60%{
      margin-top:-5%;
  }
  100%{
      margin-top:0%;
  }
}
#cabezera{
  display: flex;
  flex-direction: row;
}
#titulo{
  text-align: left;
  margin: auto;
  width: 50%;
  text-shadow: 2px 2px #02010a;
}
#menu, a{
  text-align: right;
  padding: 1%;
  margin: auto;
  width: 50%;
  color: white;
  text-decoration: none;
}
img{
  box-shadow: 2px 2px  #02010a;
}
#contenido{
  display: flex;
  flex-direction: column;
}
#central{
  background: #82c3a6;
}
#central > div {
	position: center;
  width: : 100%;
  padding: 1% 10% ;
	}
#secundaria{
  background: #d5c75f;
  display: flex;
  flex-direction: row;
  padding: 0 1%;
}
#secundaria > div {
  position: center;
	width: 50%;
  padding:1% 0;
}
#secundaria, a{
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}
#paisajes img{
  transform: rotate();
	transition-duration: 1s;
}
#paisajes img:hover{
   transform: rotate(10deg);
   box-shadow:2px 2px #82c3a6;
}
#retratos img{
  transform: translate();
	transition-duration: 1s;
}
#retratos img:hover{
   transform: translate(20px, -5px);
   box-shadow:2px 2px #82c3a6;
}
footer{
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding: 0 2%;
}
#pie{
  display: flex;
  flex-direction: row;
  padding: 5%;
}
#pie > div{
  width: 25%;
  padding:  0 2.5% ;
  text-align: justify;
}
@media (max-width: 900px) {
  #cabezera, #contenido, #pie, #secundaria{
    flex-direction: column;
  }
  #titulo, #menu{
    width: 100%;
    text-align: center;
  }
  #secundaria > div{
    width: 100%;
  }
  #pie > div{
    width: 100%;
    padding: 3% 0;
  }
}
