body{
  background: black;
  width: 90%;
  margin-left: 5%;
  margin-top: 0.2%;
  font-family: 'Dancing Script', cursive;
}
header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 0 2%;
  animation: Subir;
  animation-duration: 2s;
}
@-webkit-keyframes Subir{
  0%{
    margin-top: 150%;
  }
  60%{
      margin-top:-5%;
  }
  100%{
      margin-top:0%;
  }
}
#cabezera{
  display: flex;
  flex-direction: row;
}
#titulo{
  text-align: left;
  margin: auto;
  width: 50%;
  text-shadow: 2px 2px #02010a;
}
#menu, a{
  text-align: right;
  padding: 1%;
  margin: auto;
  width: 50%;
  color: white;
  text-decoration: none;
}
img{
  box-shadow: 2px 2px  #02010a;
}
#contenido{
  display: flex;
  flex-direction: column;
}
#retratos{
  background: #d5c75f;
  display: flex;
  flex-direction: row;
  padding: 0 1%;
}
#retratos > div {
	width: 33.3%;
  padding: 0.5% 1%;
}
#retratos1{
  -webkit-filter:blur(10px);
  filter:blur(10px);
}
#retratos2, #retratos4, #retratos6{
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#retratos3{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}
a{
  font-size: 1.2em;
}
footer{
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding: 0 2%;
}

#pie{
  display: flex;
  flex-direction: row;
  padding: 5%;
}
#pie > div{
  width: 25%;
  padding:  0 2.5% ;
  margin-left: 2%;
  text-align: justify;
}

@media (max-width: 900px) {
  #cabezera, #contenido, #retratos, #pie{
    flex-direction: column;
  }
  #titulo, #menu{
    width: 100%;
    text-align: center;
  }
  #retratos > div {
  	width: 100%;
  }
  #pie > div{
    width: 100%;
  }
}
